{% extends 'default.html' %}

{% load censor_filters %}

{% load custom_tags %}

{% block title %}Категория: <br><br><br>{% endblock title %}

{% block body %}

    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}

    {% for new in Category %}
        <tr>
        <p> {{ new.title|censor }} </p>
        <p> {{ new.dateCreation }} </p>
        <p> Категории: {% for cat in new.postCategory.all %}
            <a href="{% url 'category' cat.id %}">{{ cat.name }} </a>/
            {% endfor %}
        </p>
            <p> {{ new.text|truncatechars:21|censor}} </p>
            </tr>
        <a href="{% url 'Post_list' pk=new.pk %}">Читать полностью... </a> <br>
    {% endfor %}

   <p>{% if page_obj.has_previous %}</p>
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock body %}