{% extends 'default.html' %}

{% load censor_filters %}

{% load custom_tags %}

{% block title %}Список всех новостей{% endblock title %}

{% block body %}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

    {% for new in Post %}
        <p> {{ new.title|censor }} </p>
        <p> {{ new.dateCreation }} </p>
            <tr>
                <p> {{ new.text|truncatechars:21|censor}} </p>
            </tr>
        <a href="{% url 'Post_list' pk=new.pk %}">Читать полностью... </a>
    {% endfor %}

   <p>{% if page_obj.has_previous %}</p>
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock body %}
